.footer {
    @include adaptive-value('padding-top', 40, 30, 29);
    background: url("../../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
    // .footer__container
    &__container {
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
        @include adaptive-value('row-gap', 65, 65, 39);
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        @media(max-width: 992px) {
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 60px;
        }
        @media(max-width: 400px) {
            text-align: center;
        }
    }
    &__contacts, &__location {
        @media(min-width: 993px) {
            padding-top: 16px;
        }
    }
    // .footer__contacts
    &__contacts {
        max-width: 279px;   
    }
    // .footer__location
    &__location {
        max-width: 302px;
    }
    // .footer__image
    &__image {
        @include adaptive-value("width", 300, 300, 260);
    }
}
.contacts-footer {
    // .contacts-footer__title
    &__title {
        @include adaptive-value('margin-bottom', 33, 33, 40);
    }
    // .contacts-footer__email
    &__email, &__tel {
        color: inherit;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: all 0.2s;
        &:hover {
            color: #bb9880;
            text-shadow: 1px 1px 2px black, 0 0 1em #6d4e3a;
            svg path{
                fill: #bb9880;
                transition: all 0.2s;
            }
        }
        @media(max-width: 400px) {
            justify-content: center;
        }
    }
    &__email {
        align-self: center;
        @include adaptive-value('margin-bottom', 32, 32, 40);
        @media(min-width: 671px) {
            min-height: 46px;
        }
    }
    // .contacts-footer__tel
    &__tel {
    }
}
.location {
    // .location__title
    &__title {
        @include adaptive-value('margin-bottom', 33, 32, 40);
        @media(max-width: 400px) {
            max-width: 270px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    // .location__address
    &__address {
        display: flex;
        align-items: center;
        gap: 20px;
        color: inherit;
        transition: all 0.2s;
        &:not(:last-child) {
            @include adaptive-value('margin-bottom', 32, 32, 40);
        }
        &:hover {
            color: #bb9880;
            text-shadow: 1px 1px 2px black, 0 0 1em #6d4e3a;
            svg path{
                fill: #bb9880;
                transition: all 0.2s;
            }
        }
        p {
            text-align: left;
            font-style: normal;
        }
    }
    // .location__icon
    &__icon {
        display: flex;
        align-items: center;
    }
}
